/dts-v1/;

/ {
	#size-cells = <0x2>;
	#address-cells = <0x2>;
	model = "InspireSemi,EA_FPGA";
	compatible = "InspireSemi,CR3664","linux,dummy-virt";

	chosen {
		linux,initrd-end =   <0x1100 0x00a55DC8>;
		linux,initrd-start = <0x1100 0x00600000>;
		bootargs = "earlycon=uart,mmio,0x00A7EE4000000010,115200 console=ttyS0";
	};

	memory@110000000000 {
		reg = <0x1100 0x00000000 0x0 0x10000000>;
		device_type = "memory";
	};

	platform@c000000 {
		interrupt-parent = <0x8001>;
		ranges = <0x0 0x0 0xc000000 0x2000000>;
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		compatible = "qemu,platform", "simple-bus";
	};

	cpus {
		#size-cells = <0x0>;
		#address-cells = <0x1>;
		timebase-frequency = <20000000>;

		cpu@0 {
			phandle = <0x01>;
			reg = <0x0>;
			device_type = "cpu";
			clock-frequency = <20000000>;
			compatible = "riscv";
			riscv,isa = "rv64imafdch_zicsr_zifencei_zba_zbb_zbc_zbs";
			mmu-type = "riscv,sv39";
			status = "disabled";

			cpu0_intc: interrupt-controller {
				#interrupt-cells = <0x01>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x02>;
				status = "disabled";
			};
		};

		cpu-map {

			cluster0 {

				core0 {
					cpu = <0x01>;
				};
			};
		};
	};

	soc {
		#address-cells = <0x02>;
		#size-cells = <0x02>;
		compatible = "simple-bus";
		ranges;

		plic@c000000 {
			phandle = <0x03>;
			riscv,ndev = <0x60>;
			reg = <0x00 0xc000000 0x00 0x600000>;
			interrupts-extended = <&cpu0_intc 0xffffffff &cpu0_intc 0x09>;
			interrupt-controller;
			compatible = "riscv,plic0";
			#interrupt-cells = <0x01>;
			status = "okay";
		};

		clint@20006000 {
			interrupts-extended = <&cpu0_intc 0x03 &cpu0_intc 0x07>;
			reg = <0x00 0x20006000 0x00 0x1000>;
			compatible = "inspire,riscv-timer";
		};
	};
};
